@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
  box-sizing: border-box;
}

/*----------------------------MOBILE STYLE-----------------------------*/
#root {
    width: 100%;
    height: 100vh;
}
body {
    background-color: #1A2A33;
    font-family: 'Outfit', sans-serif;
    color: #A8BFC9;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*  */
/*--------------------HOME PAGE----------------------- */
/*  */

.homePage--container {
    /* background-color: rgba(37, 125, 202, 0.555); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 429px;
    margin: 119px 24px;
}

.homePage--container img {
    width: 71.21px;
}

.x--o--options--container {
    background-color: #1F3641;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    padding: 24px;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
}

.x--o--options--container p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.x--o--options--container small {
    color: #A8BFC9;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.88px;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

.options {
    background-color: #1A2A33;
    /* background-color: #4d94bdad; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 20px 0;
    padding: 8px 9px;
    width: 100%;

}

.options button {
    background-color: #1A2A33;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 49%;
    height: 54px;
}

.oIs.active {
    background-color: #A8BFC9;
}

.oIs:hover {
    background-color: #A8BFC90D;
}

.oIs.active:hover {
    background-color: #A8BFC9;
}

.xIs.active {
    background-color: #A8BFC9;
}

.xIs:hover {
    background-color: #A8BFC90D;
}

.xIs.active:hover {
    background-color: #A8BFC9;
}


.options button img {
    width: 24px;
}

/* .options button:hover {
    background-color: #A8BFC9;
    opacity: 5%;
} */




.selectGameMode {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectGameMode .pvc {
    background-color: #F2B137;
    box-shadow: inset 0px -8px 0px #CC8B13;
    border-radius: 15px;
    height: 56px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
}

.selectGameMode .pvc:hover {
    background-color: #FFC860;
}

.selectGameMode .pvc:active {
    transform: scale(0.95);
    background-color: #FFC860;
}

.selectGameMode .pvp {
    background-color: #31C3BD;
    box-shadow: inset 0px -8px 0px #118C87;
    border-radius: 15px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
}

.selectGameMode .pvp:hover {
    background-color: #65E9E4;
}

.selectGameMode .pvp:active {
    transform: scale(0.95);
    background-color: #65E9E4;
}

/*  */
/*---------------------PVP--------------------- */
/*  */

.game--container {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0 24px;
}

.topBar {
    /* background-color: rgba(211, 91, 11, 0.637); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.topBar img {
    width: 72px;
}

.topBar p {
    background-color: #1F3641;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 5px;
    width: 96px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.875px;
    color: #A8BFC9;
}

.topBar p img {
    width: 16px;
    margin-right: 9px;
}

.topBar p h6 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.875px;
    color: #A8BFC9;
}

.topBar button {
    background-color: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: none;
    transition: all 0.1s ease-in-out;
}

.topBar button:hover {
    background-color: #DBE8ED;
}

.topBar button:active {
    transform: scale(0.95);
    background-color: #DBE8ED;
}

.topBar button img {
    width: 15.38px;
}

.gameBoard {
    /* background-color: #8c117c; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 328px;
    height: 328px;
    margin-bottom: 20px;
}

.board--row {
    /* background-color: #cc8b1383; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.square--button {
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 10px;
    border: none;
    width: 96px;
    height: 96px;
}

.square--button:hover {
    background-image: none;
}

.square--button.turnX:hover {
    background-image: url(./assets/icon-x-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.square--button.turnO:hover {
    background-image: url(./assets/icon-o-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
}

.square--button img {
    width: 40px;
}

.scoreBoard {
    /* background-color: #10212A; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.scoreX {
    background-color: #31C3BD;
    border-radius: 10px;
    width: 96px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scoreTie {
    background-color: #A8BFC9;
    border-radius: 10px;
    width: 96px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scoreO {
    background-color: #F2B137;
    border-radius: 10px;
    width: 96px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scoreX p, 
.scoreTie p, 
.scoreO p {
    padding: 0;
    margin: 0;
    color: #1A2A33;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.75px;
}

.scoreX h6, 
.scoreTie h6, 
.scoreO h6 {
    padding: 0;
    margin: 0;
    color: #1A2A33;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
}

/*  */
/* -----------------GAME OVER------------------ */
/*  */

.game--over--bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.game--over--container {
    background-color: #1F3641;
    width: 100%;
    height: 228px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    /* justify-content: center; */
}

.message {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #A8BFC9;
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color : #A8BFC9;
    padding: 0;
    margin: 20px 0px;
}

.title.blue {
    color: #31C3BD;
}

.title.yellow {
    color: #F2B137;
}

.title img {
    width: 30px;
    margin-right: 8px;
}

.game--over--options {
    /* background-color: #118C87; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game--over--options button {
    border-radius: 10px;
    margin: 5px;
    padding: 16px;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.902px;
    color: #1A2A33;
    transition: all 0.2s ease-in-out;
}

.handleMainMenu {
    background-color: #31C3BD;
    box-shadow: inset 0px -4px 0px #118C87;
}

.handleMainMenu:hover {
    background-color: #65E9E4;
}

.handleMainMenu:active {
    transform: scale(0.95);
    background-color: #65E9E4;
}

.handleQuit {
    background-color: #A8BFC9;;
    box-shadow: inset 0px -4px 0px #6B8997;
}

.handleQuit:hover {
    background-color: #DBE8ED;
}

.handleQuit:active {
    transform: scale(0.95);
    background-color: #DBE8ED;
}

.handleNRound {
    background-color: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
}

.handleNRound:hover {
    background-color: #FFC860;
}

.handleNRound:active {
    transform: scale(0.95);
    background-color: #FFC860;
}



/*  */
/* -----------------EXIT PAGE------------------ */
/*  */

.exit--bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.exit--container {
    background-color: #1F3641;
    width: 100%;
    height: 228px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exit--container p {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #A8BFC9;
    padding: 0;
    margin: 0;
}

.exit--row {
    /* background-color: #118C87; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.exit--row button {
    width: 139px;
    height: 52px;
    border-radius: 10px;
    border: none;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #1A2A33;
    transition: all 0.2s ease-in-out;
}

.hCancle {
    background-color: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
}

.hCancle:hover {
    background-color: #DBE8ED;
}

.hCancle:active {
    transform: scale(0.95);
    background-color: #A8BFC9;
}

.hRestart {
    background-color: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
}

.hRestart:hover {
    background-color: #FFC860;
}

.hRestart:active {
    transform: scale(0.95);
    background-color: #FFC860;
}

.hMenu {
    background-color: #31C3BD;
    box-shadow: inset 0px -4px 0px #118C87;
}

.hMenu:hover {
    background-color: #65E9E4;
}

.hMenu:active {
    transform: scale(0.95);
    background-color: #65E9E4;
}

.hQuit {
    background-color: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
}

.hQuit:hover {
    background-color: #DBE8ED;
}

.hQuit:active {
    transform: scale(0.95);
    background-color: #DBE8ED;
}

/*  */
/* -----------------MEDIA QUERYS------------------ */
/*  */

/*  */
/*------------------TABLET MODE-------------------------*/
/*  */

@media  (min-width: 768px) {
    .homePage--container {
        width: 460px;
        height: 471px;
        margin: 277px 154px;
    }

    .selectGameMode .pvc, 
    .selectGameMode .pvp {
        width: 460px;
        height: 67px;
    }

    .selectGameMode .pvc,
    .selectGameMode .pvp {
        font-size: 20px;
        letter-spacing: 1.25px;
    }

    .game--container {
        width: 460px;
        height: 623px;
        margin: 200px 154px;
    }

    .topBar {
        width: 457px;
        height: 52px;
        margin-bottom: 19px;
    }

    .topBar p {
        width: 140px;
        height: 52px;
    }

    .topBar p img {
        width: 20px;
    }

    .topBar p h6 {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .topBar button {
        width: 52px;
        height: 52px;
    }

    .topBar button img {
        width: 20px;
    }

    .gameBoard {
        width: 460px;
        height: 461px;
    }

    .board--row {
        width: 460px;
        height: 141px;
    }

    .square--button {
        width: 140px;
        height: 140px;
    }

    .scoreBoard {
        width: 459px;
        height: 72px;
    }

    .scoreX, .scoreO, .scoreTie {
        width: 140px;
        height: 72px;
    }

    .scoreX p, .scoreO p, .scoreTie p {
        font-size: 14px;
        letter-spacing: 0.88px;
    }

    .scoreX h6, .scoreO h6, .scoreTie h6 {
        margin-top: 5px;
        font-size: 24px;
        letter-spacing: 1.5px;
    }

    .game--over--container {
        height: 266px;
        padding: 45px 138.5px;
        justify-content: center;
    }

    .message {
        font-size: 16px;
        line-height: 20.16px;
        letter-spacing: 1px;
    }

    .title {
        font-size: 40px;
        line-height: 50.4px;
        letter-spacing: 2.5px;
        text-align: center;
    }
    .title img {
        width: 64px;
        text-align: center;
        margin-right: 24px;
    }

    .game--over--options {
        justify-content: center;
        align-items: center;
    }

    .exit--container {
        height: 266px;
        padding: 45px 138.5px;
        justify-content: center;
    }

    .exit--container p {
        font-size: 40px;
        line-height: 50.4px;
        letter-spacing: 2.5px;
    }

    .exit--row {
        width: 306px;
        height: 52px;
        justify-content: space-between;
        margin-top: 20px;
    }
}

/*  */
/*------------------DESKTOP MODE-------------------------*/
/*  */

@media (min-width: 1440px) {

    .homePage--container {
        width: 460px;
        height: 471px;
        margin: 215px 490px;
    }

    .selectGameMode .pvc, 
    .selectGameMode .pvp {
        width: 460px;
        height: 67px;
    }

    .selectGameMode .pvc,
    .selectGameMode .pvp {
        font-size: 20px;
        letter-spacing: 1.25px;
    }

    .game--container {
        width: 460px;
        height: 623px;
        margin: 200px 154px;
    }

    .topBar {
        width: 457px;
        height: 52px;
        margin-bottom: 19px;
    }

    .topBar p {
        width: 140px;
        height: 52px;
    }

    .topBar p img {
        width: 20px;
    }

    .topBar p h6 {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .topBar button {
        width: 52px;
        height: 52px;
    }

    .topBar button img {
        width: 20px;
    }

    .gameBoard {
        width: 460px;
        height: 461px;
    }

    .board--row {
        width: 460px;
        height: 141px;
    }

    .square--button {
        width: 140px;
        height: 140px;
    }

    .scoreBoard {
        width: 459px;
        height: 72px;
    }

    .scoreX, .scoreO, .scoreTie {
        width: 140px;
        height: 72px;
    }

    .scoreX p, .scoreO p, .scoreTie p {
        font-size: 14px;
        letter-spacing: 0.88px;
    }

    .scoreX h6, .scoreO h6, .scoreTie h6 {
        margin-top: 5px;
        font-size: 24px;
        letter-spacing: 1.5px;
    }

    .game--over--container {
        height: 266px;
        padding: 45px 138.5px;
        justify-content: space-between;
        margin-top: 20px;
    }
}